body {
  background: #0f0f0f;
  color: white;
  text-align: center;
  font-family: Arial;
}

select, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

#signalBox {
  margin-top: 20px;
  font-size: 20px;
}

canvas {
  margin-top: 20px;
  max-width: 600px;
  background: #111;
}
