body {
  background: #0f0f0f;
  color: white;
  text-align: center;
  font-family: Arial;
}

button {
  padding: 12px;
  margin: 10px;
  font-size: 18px;
}

#signalBox {
  margin-top: 20px;
  font-size: 22px;
}
